.clientes-section {
    padding: 2rem 0rem;
    background-color: #f4f4f4;
    text-align: center;
    overflow: hidden;
}

.clientes-title {
    font-size: 2rem;
    color: #272727;
    margin-bottom: 1.5rem;
}

.clientes-slider {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #00940c;
    padding: 2rem 0rem;
    overflow: hidden;
}

.clientes-row {
    display: flex;
    flex-wrap: nowrap;
    animation: slide 20s linear infinite;
    animation-play-state: running; /* Animación en ejecución por defecto */
}

.first-row {
    animation-direction: normal;
}

.second-row {
    animation-direction: reverse;
}

.cliente-item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.cliente-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    padding: 10px;
    border-radius: 5%;
    background-color: white;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .clientes-row {
        animation: slide 20s linear infinite;
    }
    .first-row {
        animation-direction: normal;
    }
    
    .second-row {
        animation-direction: reverse;
    }
}

/* Detener la animación al hacer hover */
.clientes-row:hover {
    animation-play-state: paused;
}
